<div class="col-sm-3 col-md-2 sidebar">
  <ul class="nav nav-sidebar">
    <li class="<%= "active" if current_page?(tenders_path) %>"><%= link_to "Тендеры", tenders_path %></a></li>
    <% if can? :manage, User %>
    <li class="<%= "active" if current_page?(users_path) %>"><%= link_to "Пользователи", users_path %></a></li>
    <% end %>
  </ul>
</div>