<!DOCTYPE html>
<html ng-app="app" ng-cloack>
<%= render "layouts/head" %>
<body>
  <%= render "shared/navbar" %>

  <div class="container-fluid">
    <div class="row">
      <%#= render "shared/sidebar" %>

      <div class=" main">
        <%= render "shared/alerts" %>

        <%= yield %>
      </div>
    </div>
  </div>
</body>
</html>


